.App {
  text-align: center;
  height: 100vh;
  width: 100vh;
}

.body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 250px;
  /* background-color: #4267B2; */
  color: white;
}

.SidebarList {
  list-style-type: none;
  padding-left: 10px;

}

.paperStyle {
  height: 600px
}

.paperStyle2 {
  height: 600px
}

